* {
  box-sizing: border-box;
}

body{
  background-color: #16161D;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

.container {
  width: min(1100px, 90%);
  margin: 0 auto;
}
nav{
  display: block;

}
a,li,ul{
text-decoration: none;
list-style-type: none;
color: silver;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
a:hover{
  color: purple;
}